/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Montserrat';
    overflow-y: scroll;
}

/* COLORS */

.color-black {
    color: #000000;
}

.color-dark-gray {
    color: #252525;
}

.color-beige {
    color: #a69585;
}

.color-white {
    color: #f4f4f4;
}

.color-gray-white {
    color: #DADADA;
}

/* index page */

.index-img {
    background: url('/media/pexels-kevin-ku.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.off-canvas-wrapper {
    backface-visibility: hidden;
    position: relative;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #252525;
    color: #DADADA;
    transition: all 0.3s;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font: 'Oswald';
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}